table,tr,th{
    /* border: 1px black solid; */
    /* border-radius: 12px; */
    /* text-align: center; */
     padding: 10px;
     /* box-shadow: 3px 1px 10px #888888; */
    /* margin-left: 45%; */
    /* font-size: 20px;  */
    border: 1px solid #ddd;
    padding: 8px;
}
#table{
    /* border: 2px black solid; */
    text-align: center;
     padding: 10px; 
      border: 1px solid black;
     border-radius: 12px;
     padding: 2%;
     box-shadow: 3px 1px 10px #888888;
}
.table1{
    text-align: center;
    margin: auto; 
    /* padding: 3%; */
    /* margin: 2% 4%; */
}
