
<!-- <nav class="navbar bg-light">
  <div class="container-fluid">
    <img src="/src/assets/images.jpg" alt="" width="30" height="24" class="d-inline-block align-text-top">
    <a class="navbar-brand" href="#">
      <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
      Bootstrap
    </a>
  </div>
</nav> -->
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <a style="display: flex;" class="navbar-brand" href="#">
      
      <img id="image" src="../assets/clock-icon.png"alt="" width="30" height="24" style="width: 50px; height: 50px;margin-top: 6%;">
      <h3 class="h3tagname" >Event Logger</h3> 
    </a>
    <div class="navtags">
      <!-- <input class="inputbox" type="text" placeholder="search here">&nbsp;&nbsp;
      <i class="fa-solid fa-magnifying-glass search"></i>&nbsp;&nbsp; -->
      <div class="box">
        <input type="text" placeholder="Search">
        <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
      </div>&nbsp;&nbsp;&nbsp;&nbsp;
      <h6><strong>Home</strong></h6>&nbsp;&nbsp;&nbsp;&nbsp;
      <!-- <h6><strong>Add Event</strong></h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
      <h6><strong>Blog</strong></h6>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <h6><strong>About Us</strong></h6>
    </div>
    

    
    
  </div>
</nav>
<router-outlet></router-outlet>

<!-- Main section -->
<!-- <div class="container">
  <div class="row">
    <div class="col-3">
      <br><br><div class="div"><app-login></app-login></div><br>
      <div class="div"><app-register></app-register></div>
    </div>
    <div class="col-6"></div>
    <div class="col-3">
      <br><br><div class="div"><app-dashboard></app-dashboard></div><br>
      <div class="div"><app-eventform></app-eventform></div>
    </div>
  </div>
</div> -->