


<div class="container">
  <div class="row">
    <div class="col-4"></div>
    <div class="col-4 log1 ">
      <h4>Login</h4>
<form [formGroup]="loginform" (ngSubmit)="login()" >
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">User ID</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"formControlName="userid">
      
    </div>
    <div *ngIf="this.loginform.get('userid')?.touched&&this.loginform.get('userid')?.errors"
    style="color: red;"> Invalid User ID </div>


    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1"formControlName="password">
    </div>
    <div *ngIf="this.loginform.get('password')?.touched&&this.loginform.get('password')?.errors"
    style="color: red;"> Invalid Password </div>
   <br>
    
    <div class="bootom">
      <button  type="submit" class="btn btn-primary">Login</button>
        <span class="spanclass">Not a User?</span>&nbsp;&nbsp;&nbsp;
        <button routerLink="register" type="submit" class="btn btn-success">Register</button>
    </div>
    

  </form>
  <!-- <div class="regsection">
    <span class="spanclass">Not a User??</span>
    <button routerLink="register" type="submit" class="btn btn-primary regbt">Register</button>
  </div> -->
    </div>
    <div class="col-4"></div>
  </div>
</div>